input {
    width: 140px;
    background-color: darkgreen;
    color: white;
    text-align: right; 
    display: inline-block;
    margin: 4px 0px 0px 0px;
    font-size: 20px;   
    line-height: 1.8;
    box-shadow: none;
    border-radius: 0;
    text-shadow: -1px 1px #417cb8;
    border: none;
}