<p>  
  <button (click)="sendKeypadEntry($event)">+</button>
  <button (click)="sendKeypadEntry($event)">-</button>
  <button (click)="sendKeypadEntry($event)">*</button>
  <button (click)="sendKeypadEntry($event)">/</button>
  <button (click)="sendKeypadEntry($event)">^</button>
  <button (click)="sendKeypadEntry($event)">√</button>
</p>


<p>
  <button (click)="sendKeypadEntry($event)">0</button>
  <button (click)="sendKeypadEntry($event)">1</button>
  <button (click)="sendKeypadEntry($event)">2</button>
  <button (click)="sendKeypadEntry($event)">3</button>
  <button (click)="sendKeypadEntry($event)">4</button>
  <button (click)="sendKeypadEntry($event)">5</button>
  <button (click)="sendKeypadEntry($event)">6</button>
  <button (click)="sendKeypadEntry($event)">7</button>
  <button (click)="sendKeypadEntry($event)">8</button>
  <button (click)="sendKeypadEntry($event)">9</button>
  <button (click)="sendKeypadEntry($event)">.</button>
  <button (click)="sendKeypadEntry($event)">=</button>
</p>

